.dashboard_main_container {
  display: flex;
  min-height: 100vh;
}

.dashboard_link_side {
  width: 250px;
  background-color: #02337b;
  color: white;
  padding: 15px;
  box-sizing: border-box;
  position: fixed;
  height: 100vh;
  overflow-y: auto;
  transition: transform 0.3s ease-in-out;
  z-index: 1;
}

.dashboard_link_side a {
  display: block;
  color: white;
  padding: 15px;
  text-decoration: none;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.dashboard_link_side a:hover {
  background-color: #032250;
}

.dashboard_link_side a.active {
  background-color: #032250;
  color: white;
}

.dashboard_content_side {
  margin-left: 250px;
  flex: 1;

  overflow-y: auto;
  min-height: 100vh;
}

.hamburger {
  display: none;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1100;
  font-size: 24px;
  background: #333;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .dashboard_link_side {
    width: 200px;
  }
  .dashboard_content_side {
    margin-left: 200px;
  }
}

@media (max-width: 480px) {
  .dashboard_link_side {
    width: 250px;
    transform: translateX(-100%);
    position: fixed;
    top: 0;
    left: 0;
  }

  .dashboard_link_side.open {
    transform: translateX(0);
  }

  .dashboard_content_side {
    margin-left: 0;
    padding-top: 44px;
  }

  .hamburger {
    display: block;
    top: 0px;
    left: 0px;
  }
}

.content h1 {
  margin-top: 0;
  color: #333;
}

.content p {
  color: #666;
}
.outlet_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ededed;
  height: 70px;
}
.outlet_header h2 {
  margin-left: 100px;
}
.outlet_header_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-right: 50px;
  margin-left: 50px;
}
@media (max-width: 480px) {
  .outlet_header h2 {
    margin-left: 0px;
    font-size: 16px;
  }
  .outlet_header_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-right: 0px;
    margin-left: 0px;
  }
}

/* -***** */

.logout_container {
  position: relative; /* Allows positioning the button below */
  display: inline-block;
}

.email_text {
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
  transition: background 0.3s ease;
}

.email_text:hover {
  background: #f0f0f0;
}

.logout_button {
  position: absolute;
  top: 30px; /* Moves it below the email */
  left: 0;
  width: 100%;
  padding: 8px 12px;
  background: red;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: background 0.3s;
}

.logout_button:hover {
  background: darkred;
}
