.Admin_headnig {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 15px;
}

.Admin_headnig2 {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 15px;
}
.Admin_headnig3 {
  font-size: 1.1em;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 15px;
}
.Admin_headnig4 {
  font-size: 1em;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 15px;
}
.Admin_headnig5 {
  font-size: 0.9em;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 15px;
}
